p{
    display:inline;
    margin-left:10px;
}
#radio_bttn1{
    margin-left:20px;
}
#radio_bttn2{
    margin-left:22px;
}
#radio_bttn3{
    margin-left:25px;
}
#radio_bttn4{
    margin-left:30px;
}
#radio_bttn5{
    margin-left:30px;
}
#error{
    color: red;
}